/* Media query untuk lebar layar 568px */
@media (max-width: 568px) {
    .container-start {
        margin: 30% 0 0 3%;
    }
    .position-absolute-bottom {
        padding: 3rem;
        margin-bottom: 250px;
    }
    .content-container {
        max-width: 100%;
    }
}


/* Media query untuk lebar layar 320px */
@media (max-width: 320px) {
    .container-start {
        margin: 25% 0 0 4%;
    }
}
